body {
  background-color: #347;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #347;
  border-bottom: 1px solid rgb(161, 161, 161);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 30px;

  .btn-actions {
    button {
      margin-right: 10px;
    }
  }
}
